ion-menu {
    --ion-background-color: var(--ion-color-tertiary);
    --ion-text-color: var(--ion-color-primary-contrast);
  
    ion-toolbar {
      --background: var(--ion-color-primary);
    }
  
    ion-list {/* optional, but it needs when you use gradient as a background color.*/
      background: transparent;
    }
  }
.ikonum{
    font-size: 200%; display: block; color: rgb(255, 255, 255); margin-bottom: 10px;
}

.beyazyazi{
    color:white;
}
