.kaydetinputu{
    text-align: center;
}
.yesilyap{
    background-color: rgb(19, 230, 19);
    padding: 4px;
    border-radius: 20px;
    color: white;
}
.kirmiziyap{
    background-color: rgb(253, 64, 64);
    padding: 4px;
    border-radius: 20px;
    color: white;
}
.tablom
{
    font-size: 12px;
}
